Pyrogram==2.0.106
TgCrypto==1.2.5
requests
aiofiles>=0.6.0
aiohttp[speedups]>=3.7.3
tracemoepy
lottie
bs4
motor
dnspython
natsort
apscheduler
lxml
html5lib
Flask==2.2.2
gunicorn==20.1.0
pillow==9.5.0
pytz
