Pyrogram==2.0.106
TgCrypto==1.2.5
requests

aiofiles>=0.6.0
aiohttp[speedups]>=3.7.3
apscheduler
anime-api==1.0.1

tracemoepy
bs4
motor
dnspython
natsort

lxml
lexica-api
lottie
lexica-api==1.5.5

imdbpy
html5lib
httpx[http2]

Flask==2.1.1
gunicorn==20.1.0

google-generativeai
gtts

pillow==9.5.0
pytz

openai==0.28.0

wikipedia
wget
matplotlib

spotdl==4.2.1

tpblite==0.8.0

redgifs==1.7.2

youtube_dl
yt_dlp
